<h1>Confirmation de votre adresse mail</h1>

<p>
    Bonjour et bienvenue sur Gaming Gurus.<br>Merci de confirmer votre adresse mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très bientôt.
</p>
