<div class= "btn-load-more-main rounded-4">
    <div class ="btn-load-more-mask d-flex align-items-center justify-content-center 
    bg-primary rounded-4 p-3 title-font text-secondary" id="load-more-{{ gallery }}">Voir Plus
    </div>
</div>