<div class="load-more d-flex align-items-center justify-content-center">
    <div class= "load-more-main rounded-4">
        <div class ="load-more-mask d-flex align-items-center justify-content-center 
        bg-primary rounded-4 p-3" id="load-more-{{ gallery }}">
            <div class="load-more-title title-font text-secondary text-nowrap">
                Voir plus
            </div>
        </div>
    </div>
</div>