<div class="st d-flex justify-content-center align-items-center">

    <div class="st-main rounded-4 position-relative">
    		{% if item.isPremium %}
			<span class="position-absolute top-0 start-0 badge rounded-pill bg-secondary py-2 px-3 z-2 title-font text-primary fs-6">PREMIUM</span>
		{% endif %}
        <div class="st-main-mask rounded-4 p-1 position-relative">

            <div>
                <a href="{{ path('video_show', { id: item.id }) }}">
                    <img
                        src="{{ asset('build/images/' ~ item.posterUrl) }}"
                        alt=""
                        class="st-poster gifable rounded-4 position-absolute translate-start">
                </a>
            </div>

            <div class="st-spacer"></div>

            <div class="st-title title-font text-secondary text-nowrap mt-1">{{ item.title|u.truncate(23, '...') }}</div>

        </div>
    </div>

</div>