{% extends 'base.html.twig' %}

{% block title %}Galerie des Vidéo{% endblock %}

{% set dot = "<i class='bi bi-dot m-0'></i>" %}

{% set fav = "<i class='bi fav' id='fav-icon'></i>" %}
{% set watchLater = "<i class='bi watchLater' id='watchLater-icon'></i>" %}
{% set like = "<i class='bi like' id='like-icon'></i>" %}

{% block body %}

    
    <main class="container">

        <div class="text-secondary d-flex justify-content-start align-items-center">
            <span class="fs-1">{{ dot|raw }}</span>
            <h3 class="title-font m-0">Les dernieres sorties</h3>
        </div>

        <section class="d-flex justify-content-start align-items-center flex-wrap">
            {% for video in videos %}
                {{ include('shared/big-thumbnail.html.twig', {item: video}) }}
            {% else %}
                <p>Il n'y a pas de vidéos</p>
            {% endfor %}

        </section>
    </main>

{% endblock %}
