{% extends 'base.html.twig' %}

{% block title %}Galerie des Vidéo{% endblock %}

{% set dot = "<i class='bi bi-dot m-0'></i>" %}

{% set fav = "<i class='bi fav'></i>" %}
{% set watchLater = "<i class='bi watchLater'></i>" %}
{% set like = "<i class='bi like'></i>" %}

{% block body %}

    {% set offset = 6 %}
    {% set thumb = 1 %}

    <main class="container">

        <div class="text-secondary d-flex justify-content-start align-items-center">
            <span class="fs-1">{{ dot|raw }}</span>
            <h3 class="title-font m-0">Les dernieres sorties</h3>
        </div>

        <section class="d-flex justify-content-start align-items-center flex-wrap">

            {% for i in 0.. (videos|length / offset) %}
                {% for video in videos |slice(0 + i * offset, offset) %}
                    <div class="d-none {{i}}-latest">
                        {{ include('shared/big-thumbnail.html.twig', {item: video}) }}
                    </div>
                    
                {% endfor %}
                
            {% endfor %}
            <div class= "btn-load-more-main rounded-4">
            <div class ="btn-load-more-mask d-flex align-items-center justify-content-center 
            bg-primary rounded-4 p-3 title-font text-secondary" id="load-more-latest">Voir Plus
            </div>
            </div>
            
        </section>

        
    </main>

{% endblock %}
