$primary: #581EA3; // purple
$info: #CEA8FF; // light purple
$secondary: #FFE500; // yellow
$dark: #241C52; // dark blue
$light: #FFFFFF; // white

@import "~bootstrap/scss/bootstrap";
@import "~plyr/src/sass/plyr.scss";

.video-container {
    border-radius: 15px;
    overflow: hidden;
}