<a href="{{ path('search_index', { name: tag }) }}">
    <div class="text-dark tag-item bg-secondary rounded-3 p-2 d-flex justify-content-center align-items-center">
        <h2 class="m-0 {{ style }}">#{{ tag|upper }}</h2>
    </div>
</a>