{% set home = "<i class='bi' id='house-mobile'></i>" %}
{% set play = "<i class='bi' id='play-mobile'></i>" %}
{% set hashtag = "<i class='bi' id='hash-mobile'></i>" %}

<nav class="bg-secondary d-none fixed-bottom p-3">
        <div class="nav-btns d-flex justify-content-around align-items-center">
            <div class="nav-item d-flex justify-content-center align-items-center" id="nav-house-mobile">
                {{ home|raw }}
            </div>

            <div class="nav-item d-flex justify-content-center align-items-center" id="nav-play-mobile">
                {{ play|raw }}
            </div>

            <div class="nav-item d-flex justify-content-center align-items-center" id="nav-hash-mobile">
                {{ hashtag|raw }}
            </div>
        </div>
</nav>