{% set home = "<i class='bi' id='house'></i>" %}
{% set play = "<i class='bi' id='play'></i>" %}
{% set hashtag = "<i class='bi' id='hash'></i>" %}

<nav class="navbar">
    <ul class="fs-2 navbar-nav">
        <li class="nav-item" id="nav-house">
            {{ home|raw }}
        </li>

        <li class="nav-item" id="nav-play">
            {{ play|raw }}
        </li>

        <li class="nav-item" id="nav-hash">
            {{ hashtag|raw }}
        </li>
    </ul>

</nav>