<div class="modal fade" id="videoSearchModal" tabindex="-1" aria-labelledby="videoSearchModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content rounded-4">

			<div class="modal-body bg-primary">
				<input class="mt-3 rounded-pill border border-2 border-secondary bg-dark text-font fw-bold text-secondary w-100 py-2 px-5" type="text" id="searchVideos" placeholder="Recherche...">
				<p id="resultInfo" class="text-info text-font text-center mt-3"></p>
				<ul class="list-group bg-primary mt-3" id="resultVideos"></ul>
			</div>

		</div>
	</div>
</div>
