<div class="modal fade" id="videoSearchModal" tabindex="-1" aria-labelledby="videoSearchModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header bg-secondary">
				<h1 class="modal-title fs-5 text-primary" id="videoSearchModalLabel">Recherche de videos</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body bg-primary">
				<input class="rounded-pill bg-dark text-font fw-bold text-secondary w-100 py-2 px-5" type="text" id="searchVideos">
				<p id="resultInfo" class="text-info text-font text-center mt-3"></p>
				<ul class="list-group bg-primary mt-3" id="resultVideos"></ul>
			</div>
		</div>
	</div>
</div>
